.pdca_body {
    margin: 0 auto;
    padding: 100px 0;
    min-width: 80vw;
}

.ListItem {
    text-decoration: none;
    color: inherit;
    display:flex;
    justify-content: space-around;
    min-width: 50vw;
}
.pdca {
    min-height: 240px !important;
}

.pdca > .MuiInputBase-input {
    min-height: 240px !important;
}